
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x:hidden;


}
#grid,#grid2,#grid3,#grid4{
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: auto ;
  grid-row-gap: 10vh;

}
#grid{
  grid-template-areas:
  "header header header header"
  "slider slider slider slider"
  " .fact fact ."
  " cirkel cirkel cirkel cirkel"
  "footer footer footer footer"

}
#grid2{
  grid-template-areas:
  "header header header header"
  "slider slider slider slider"
  " article article article article"
  " .fact fact ."
  "footer footer footer footer"

}
#grid3{
  grid-template-areas:
  "header header header header"
  "cirkel cirkel cirkel cirkel"
  "footer footer footer footer"

}
#grid4{
  grid-template-areas:
  "header header header header"
  "om om om om"
  "footer footer footer footer"

}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  height: 94vh;
  position: relative;
  background-color:#F8F9F9;
  overflow-x: hidden;
  height:100%;

}
.länk{
  width: 340px;
  height: 100%;
}

header{
  display: flex;
  align-items: center;
  grid-area: header;
  height:130px;
  width:100vw;
  background-color: #424949 ;




}

#titel{
  display: flex;
  align-items: baseline;
  margin-left:50px;
  width:70vw;



}
#meny{
  font-size: 30px;
  margin-left: 400px;

}
h1{
  font-size: 60px;
  color: #F8F9F9;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 5px;
  margin-left: 5px;;

}
h4{
  font-size: 40px;
  margin-left: 10px;
  letter-spacing: 5px;
  color: #FE9900;
  font-family: 'Ubuntu Condensed', sans-serif;

}
#logo{
  width: 100px;
  height:100px;
  margin-left: 1vw;
}
#om{
  grid-area: om;
  width:90vw;
  height:autp;
  background-color: #424949;
  justify-self:center;

}
.slider {
  grid-area: slider;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  overflow-y: hidden;



}

.slider-wrapper {
  width: 1200px;
  height: 400px;
  overflow: hidden;


}

.inner-wrapper {
  width: 500%;
  height: 100%;
  position: relative;
  left: -100%;


}

.slide {
  width: calc(100% / 5);
  height: 100%;
  float: left;
  font-size: 100px;
  color: black;
  overflow-y: hidden;

}

.bottom-left{
  height: 70px;
  width:250px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 4.5%;
  margin-left: 475px;
  padding-top:5px;
  text-align: center;
  transition: transform 0.15s;


}
.bottom-left:hover{
  transform: scale(1.5);
  background-color: rgba(0, 0, 0, 0.8);

}

h2{
  font-size: 30px;
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;

}
h3{
  font-size: 20px;
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;

}

.button {
  width: 30px;
  height: 30px;
  border-top: 5px solid black;
  position: absolute;
  cursor: pointer;
  transform: rotate(-45deg);
  transition:  0.2s;
  display: none;




}

.prev {
  margin-left: -530px;
  border-left: 5px solid black;


}


.next {
  border-right: 5px solid black;
  transform: rotate(45deg);
  margin-left:530px;




}

.prev:hover{
  transform: rotate(-45deg) scale(1.3);

}
.next:hover{
  transform: rotate(45deg) scale(1.3);

}
.prev:active{
  transform: rotate(-45deg) scale(1.0);

}

.next:active{
  transform: rotate(45deg) scale(1.0);

}

article{
  width:90vw;
  height:auto;
  background-color: #424949;
  grid-area: article;
  justify-self:center;

}
.info{
  height: 150px;
  width:800px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: auto;
  text-align: center;
  margin-left: 200px;
  margin-top: 125px;

}

.plats{
  font-size: 60px;
  padding-top: 3%;
}

.plats2{
  font-size: 35px;
}
.underrubrik{
  font-size: 35px;
  padding: 10px;
}
.brödtext{
  font-size: 25px;
  padding: 0% 3% 3% 3%;
  color: #F8F9F9;
}
#fact{
  grid-area:fact;
  display: flex;
  align-items:center;
  height:300px;
  width:90vw;
  background-color: #424949;
  justify-self:center;


}
#flex{
  width:340px;
  height:100%;
  display: flex;
  align-items:center;
}
#text{
  width:60vw;
  height:100%;
  padding: 4%;

}
#ko{
  height:200px;
  width:300px;
  background-color: white;
  margin-left: 4vw;
}
#funfact{
  font-size: 30px;

  color:white;
  padding-left: 3%;
  font-family: 'Ubuntu Condensed', sans-serif;

}
#populär{
  height:auto;
  width:auto;
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
}
#pop{
  display: flex;
  flex-direction: column;
  grid-area: cirkel;
  text-align: center;
}

#pop1{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  grid-area: cirkel;
  text-align: center;

}
#popdest{
  font-size: 45px;

}

.cirkel{
  width: 340px;
  height: 100%;
  margin-top: 20px;
  border-radius: 50%;





}
footer{
  grid-area: footer;
  height:130px;
  width:100vw;
  background-color: #424949 ;

}

a{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover{
  color: #FE9900;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;

  z-index: 1;
  overflow-x: visible;


  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */


}

/*
* Just a quick hamburger
*/
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: #F8F9F9;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: #424949;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 400px;
  height:615px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  background-color: #F8F9F9;
  list-style-type: none;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.list
{
  padding: 20px;
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;


}
#menu{
  display: flex;
  flex-direction: column;
}

#menuToggle input:checked ~ nav
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

@media screen and (max-width:1250px) {
  .test,.slider-wrapper{
    width:600px;
    height:400px;


  }
  .prev {
    margin-left: -350px;

  }

  .next{
    margin-left: 350px;
  }

  .bottom-left{
    margin-top: 165px;
    margin-left: 175px;

  }
  .info{
    width:420px;
    margin-left: 90px;
  }


}
@media screen and (max-width:1190px) {
  #ko{
    height:auto;
    width:80%;
    background-color: white;
    margin-left: 4vw;
  }

  h4{
    font-size:180%;

  }


  .cirkel{
    width: 300px;
    height: 300px;
  }

  @media screen and (max-width:1077px) {

    h4{
      font-size: 150%;
    }
    h1{
      font-size: 280%;
    }
  }
  @media screen and (max-width:1000px) {

    h1,h4{
      font-size: 180%;
    }
    header{
      align-items: center;
    }
    .cirkel{
      width: 280px;
      height: 280px;
    }


  }

  @media screen and (max-width:900px) {


    #funfact{
      font-size: 150%;
    }

    #logo{
      width:100px;
    }

    #popdest{
      width:auto;

    }

    @media screen and (max-width:766px) {
      .test,.slider-wrapper{
        width:500px;
        height:300px;
      }

      .prev {
        margin-left: -280px;

      }

      .next{
        margin-left: 280px;

      }

      .bottom-left{
        margin-top: 115px;
        margin-left: 125px;

      }
      .info{
        margin-left: 50px;
        margin-top: 75px;
      }
      .prev:hover{
        transform: rotate(-45deg) scale(1.0);

      }
      .next:hover{
        transform: rotate(45deg) scale(1.0);

      }

    }
    @media screen and (max-width:650px) {
      #ko{
        display: none;
      }
      #text{
        width:100vw;
      }
      #flex{
        display: none;
      }

      #populär{
        flex-direction: column;
        align-items: center;
      }
      #popdest{
        font-size: 250%;
      }

      #popdest{
        font-size:200%;
      }

      h1, h4{
        font-size: 150%;;
      }
    }


    @media screen and (max-width:510px) {
      #logo{
        display: none;
      }
      #titel{
        margin-left: 20px;
        width:80%;

      }
    }

    @media screen and (max-width:414px) {
      h4{
        width:auto;
      }
      h1{
        width: auto;
      }
      #menuToggle{
        margin-right: -20px;
      }
      .test,.slider-wrapper {
        width:auto;
        height:300px;
      }

      .bottom-left{
        display: none;

      }
      .info{
        display: none;


      }
      .plats{
        font-size: 40px;
        margin-top: 25px;
      }
      .plats2{
        font-size: 30px;
      }
      .prev{
        margin-left: -160px;
      }
      .next{
        margin-left: 160px;
      }

    }
    @media screen and (max-width:320px) {
      h1,h4{
        font-size: 120%;
      }
      .test,.slider-wrapper {
        width:auto;
        height:250px;
      }
      .prev{
        margin-left: -130px;
      }
      .next{
        margin-left: 130px;
      }
    }
